<html>
  <head>
    <title>Léaument</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
     body {
	 background-color: #ccc;
     }
     main {
	 text-align: center;
	 max-width: 800px;
	 margin: 0 auto;
     }
    </style>
  </head>
  <body>
      <main>
	  <h1>Léaument</h1>
	  <form action="/day" method="POST">
	      <input type="date" name="date" />
	      <button
		  type="submit"
		  hx-post="/day"
		  hx-target="#result"
	      >Valider</button>
	  </form>
	  <div id="result"></div>
      </main>
  </body>
</html>
